<header>
    <nav>
        <a href="about.html">About</a>
        <a href="home.html">Home</a>
    </nav>
</header>
<main>
    <h1>Solo testing project</h1>
    <p>
        This is me testing out the 3rd html
        page, I want to see if this is
        the correct way of doing this so
        I'm testing out this paragraph.
    </p>
    <p>
        My phone number is xxx_xxx_xxxx
    </p>
    <div>
        Testing box 1
    </div>
    <div>
        Testing box 2
        this is an extra line
    </div>
    <div> Testing box 3
        this is an extra line
        this is an another extra line
    </div>
    </main>
    <footer>
        <div> Copyright 2023 by me! </div>
    </footer>
